<h1 align="center"><%= image_tag("shopping-cart.png" , size: "50") %></h1>

<% current_user.cart.product_carts.each do |productaaaa_cart| %>
<div class="container">
 <div class="card mx-auto mb-3" syle="width: 18rem;">
  <div class="row mx-auto mb-3">
    <div class="col">
      <img src="..."  class="card-img-top" alt="...">  
     </div>
      
    <div class="col">
      <div class="card-body">
      <h5 class="card-title">aaaa</h5>
      <p class="card-text">lkakk</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
     </div>
    </div>  
  </div>
</div>
<% end %>



